/* ------------------------------- MINI button bar-------------------------------------- */

/* first to utilize the unused tabs toolbar space */
/* This is GREAT because You can move this around to access your buttons when customizing */
/* Warning DO NOT MOVE IT FROM TOP 40PX, only left, right */

#TabsToolbar-customization-target {
  position: fixed;
  top: 40px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
}

/* visual indicator, when on customize toolbar screen */
#TabsToolbar:is([customizing="true"]) #TabsToolbar-customization-target {
  background: var(--uc-ultima-background-iii) !important;
  padding-right: 32px !important;
  min-width: 135px;
  top: 450px;
  left: 30px;
}

#TabsToolbar:is([customizing="true"]) #tabbrowser-tabs {
  display: none;
}
#TabsToolbar:is([customizing="true"]) #tabbrowser-arrowscrollbox {
  display: none;
}

#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(1),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(4),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(5),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(6),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(7),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(8),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(9),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(10),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(11),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(12),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(13),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(14),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(15),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(16),
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(17) {
  position: absolute;
  display: flex;
  z-index: 2;
  top: 1px;
  left: 6px;
}

#TabsToolbar-customization-target .chromeclass-toolbar-additional {
  padding: 0 3px;
}

#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(1) {
  top: calc(100vh - 84px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(4) {
  top: calc(100vh - 121px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(5) {
  top: calc(100vh - 158px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(6) {
  top: calc(100vh - 195px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(7) {
  top: calc(100vh - 232px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(8) {
  top: calc(100vh - 269px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(9) {
  top: calc(100vh - 306px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(10) {
  top: calc(100vh - 343px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(11) {
  top: calc(100vh - 380px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(12) {
  top: calc(100vh - 417px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(13) {
  top: calc(100vh - 454px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(14) {
  top: calc(100vh - 491px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(15) {
  top: calc(100vh - 528px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(16) {
  top: calc(100vh - 565px);
}
#TabsToolbar:not([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(17) {
  top: calc(100vh - 602px);
}

#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(1),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(4),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(5),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(6),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(7),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(8),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(9),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(10),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(11),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(12),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(13),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(14),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(15),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(16),
#TabsToolbar:is([customizing="true"])
  .toolbarbutton-1[removable="true"]:nth-of-type(17) {
  position: initial;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
  top: initial;
}

#titlebar {
  z-index: 1 !important;
}
@media (max-height: 600px) {
  #TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"] {
    display: none !important;
  }
  #new-tab-button {
    display: none !important;
  }
}
